<% content_for :header_links do %>
  <a href="/lists/new" class="add">Create New List</a>
<% end %>

<ul id="lists">
  <% sort_lists(@lists) do |list| %>
    <li class="<%= list_class(list) %>">
      <a href="/lists/<%= list[:id] %>">
        <%= list[:name] %><p><%= completed_todos(list) %></p>
      </a>
    </li>
  <% end %>
</ul>
